<div class="home_bottom row">
  <div class="col-md-6">
    <ul class="slides">
      <li class="slide active"><img src="images/slide1.jpg" alt=""></li>
      <li class="slide"><img src="images/slide2.jpg" alt=""></li>
      <li class="slide"><img src="images/slide3.jpg" alt=""></li>
    </ul>
    <div class="index_btns">
      <div class="index_btn" id="first-btn">1</div>
      <div class="index_btn" id="second-btn">2</div>
      <div class="index_btn" id="third-btn">3</div>
    </div>
  </div>

  <div class="col-md-6 slide_infomations">
    <div class="slide_info active">
      <h2>Write impressions</h2>
      <p>
        The most simple way to share a music album and your impressions for it.<br>
        First, search for albums with its name or the artist.<br>
        Second, select the album you want to share from search results.<br>
        And then, just write your impression.
      </p>
    </div>
    <div class="slide_info">
      <h2>Music player</h2>
      <p>
        When you read music impressions on a blog, SNS or something like that, you must have thought that you wanted to listen to the music right there.<br>
        On an impression page of Pacifica, apple music player will be automatically showed.<br>
        Then, you will no longer be bothered to find a place to listen.
      </p>
    </div>
    <div class="slide_info">
      <h2>Time line of following users</h2>
      <p>
        Because the following user's posts will be showed on the time line of Pacifica, you will not miss them.<br>
        Follow users to meet great albums and impressions.
      </p>
    </div>
  </div>
</div>