<% provide(:title, "#{@user.name} / Likes") %>
<% provide(:page_wrapper, "main_wrapper") %>
<div class="row">
  <aside class=col-md-4>
    
  </aside>

  <div class="col-md-8">
    <div class="posts_feed">
      <ol class="posts">
        <%= render @likes %>
      </ol>
      
    </div>
  </div>
</div>