<% unless current_user.feed.empty? %>
<div class="posts_feed">
  <ol class="posts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
</div>
<% else %>
<div class="posts_feed feed_empty">
  <h3>There's nothing to show here...</h3>
  <p><a href="<%= new_post_path %>">Write a new impression</a> or <a href="<%= users_path %>"> follow the other users</a> !</p>
</div>
<% end %>