<h3>Find collection
  <span> You can search for a collection with the artist name or the collection name</span>
</h3>

<p>Artist Name</p> 
<input id="artist" class="search" type="text" placeholder="write an artist name and press return">

<div id="search_results" class="search-results">
  <h3>Search results
    <span>Click the collection you want to share. Then the music player appears below the reults.</span>
  </h3>

  <div id="results">Search results will be showed here</div>  
  <span id="show_player" class="col-md-4"></span>
</div>

<%= javascript_include_tag 'jquery.mCustomScrollbar.js', 'data-turbolinks-track' => true %>