<div class="post_new search_music">
  <h3>STEP1 - FIND</h3>
  <p>Find the album with its artist name</p>
  <input id="artist" class="search form-control" type="text" placeholder="input an artist name and press return">
</div>

<div id="search_results" class="post_new search_results">
  <h3>STEP2 - SELECT</h3>
  <p>Click to select the album you want to share</p>

  <div id="results">Search results will be showed here</div>  
  <span id="show_player" class="aside_music_player"></span>
</div>

<%= javascript_include_tag 'jquery.mCustomScrollbar.js', 'data-turbolinks-track' => true %>