<% provide(:title, "Edit post") %>
<% provide(:url, post_path) %>
<% provide(:button_text, "Save") %>
<div class="row">
  <div class="post_form">
    <h1>Edit post</h1>
    <%= render 'post_form' %>
  </div>
</div>