@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* colors */

$gray : #808080;
$light-gray: #d3d3d3;
$dark-gray: #9a9a9a;
$white-smoke: #f5f5f5;

/* universal */

body {
  padding-top: 50px;
}

.wrapper {
  min-height: 700px;
  height: auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* fonts */

@font-face {
  font-family: 'MANIFESTO';
  src: font-url('MANIFESTO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moon';
  src: font-url('Moon2.0-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* header */
header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #202020;
  border-bottom: 1px solid $gray;
}

#logo {
  float: left;
  padding-top: 7px;
  font-family: 'MANIFESTO';
  color: white;
  font-size: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

@mixin header_item {
  float: left;
  display: inline-block;
  padding-right: 15px;
  line-height: 50px;
  font-family: 'Moon';
  font-size: 16px;
  letter-spacing: 1.5px;
  color: $gray;
  text-decoration: none;
  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}

.header_right {
  float: right;
}

.header_item {
  @include header_item;
  .user_icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px 0;
    margin-right: 10px;
  }
  i {
    padding-right: 5px;
  }
}

.account_menu {
  @include header_item;
  &:focus {
    color: $light-gray;
    text-decoration: none;
  }
}

.account_items {
  .user_name {
    color: #333;
    &:hover {
      color: black;
    }
  }
  .user_icon {
    height: 50px;
    width: 50px;
    margin: 0 10px 5px 10px;
  }
}

/* footer */

footer {
  background-color: #333333;
  height: auto;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid $gray;
  color: $light-gray;
}

.footer_top {
  margin-top: 10px;
  font-family: 'Moon';
  text-align: center;
  .back_to_top {
    font-size: 18px;
    color: #808080;
    cursor: pointer;
    &:hover {
      color: $light-gray;
    }
  }
}

.footer_bottom {
  margin-top: 15px;
  a {
    font-family: 'MANIFESTO';
    font-size: 28px;
    color: white;
    text-decoration: none;
  }
  p {
    color: $dark-gray;
    font-size: 10px;
  }
}

/* home */
.home_wrapper {
  background-image: url('bg4.jpeg');
  background-size: cover;
  h1 {
    margin-top: 100px;
    color: white;
    text-align: left;
  }
  p {
    color: white;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.user_icon {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $white-smoke;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $white-smoke;
  }
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $light-gray;
    display: block;
    margin-left: 60px;
  }
  .user_icon {
    height: 50px;
    width:  50px;
    float: left;
    margin-right: 10px;
    margin-top:    5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* Music serch form */

.search-results {
  #results {
    width: auto;
    height:300px;
    overflow: auto;
    margin-bottom: 10px;
    background: #333;
    color:#eee;
  }
  .result_item {
    overflow: hidden;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
  .result_artwork {
    float: left;
    margin-right: 10px;
  }
  .show-player {
    float: left;
  }
}
